body {
    font-family: 'Source Sans 3', sans-serif;
    margin: 0;
}
main {
    position: relative;
    top: 5rem;
}
/*-------------- header */

header {
    position: fixed;
    display: flex;
    background-color: white;
    height: 5rem;
    margin: 0 auto;
    overflow: hidden;
    z-index: 10;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    width: 100%;   
    justify-content: space-around;    
}

h2 {
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    margin-top: 0;
    color: #595959;
    text-align: center;
}

h3{
    font-family: 'Oxygen', sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: capitalize;
}

div.logo img {
    height: 90%;
    width: auto;
    padding-top: .5rem;
}

header nav {
    width: 40%;
    padding: 1rem;
}

header ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    font-size: 1.3rem;
    margin: 0 0;
    align-items: center;
}

header li a {
    /* color: #57484F; */
    color: #7D5D6C;
    font-weight: 300;
    text-decoration: none;
    text-transform: capitalize;
}

header div.mobile {
    display: none;
}
/* header li a :hover {
    font-weight: 500;
} */

/*-------------- main */
/*-------------- banner */

main .banner {
    background-image: url(../images/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 50rem;
    color: #595959;
}

.banner h1 {
    font-family: 'Oxygen', sans-serif;
    font-size: 4rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
    color: #7D5D6C;

}

.banner h2 {
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    margin-top: 0;
}
 .banner h4 {
    margin-top: 5rem;
    font-weight: 400;
    font-size: 1.5rem;
    font-style: italic;
}

button.get-styled {
    background-color: #595959;
    height: 2rem;
    padding: 2rem 6rem;
    border-radius: .5rem;
    border-style: none;
    display: flex;
    align-items: center;
}

button h3 {
    font-size: 1.5rem;
    font-family: 'Oxygen', sans-serif;
    font-weight: 500;
    color: white;
}

@media only screen and (max-width:1600px) and (min-width: 1090px) {
    main .banner {
        padding-left: 30rem;
        height: 600px;
        width: auto;
    }

    .banner h1 {
        font-size: 3em;
    }

    .banner h2 {
        font-size: 1.5em;
    }

    .banner h4 {
        font-size: 1.2em;
    }
}

/* ------------------mobile */
@media only screen and (max-width: 600px) {
    /* --------------header mobile */
    header{
        height: 5rem;
    }
    header ul {
        display: none;
    }

    header div.mobile {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
        
    }
    
    header div.mobile img{
        height: 2.7rem;
        width: auto;
        opacity: 50%;

    }

    /*-------------- main mobile*/
    /*-------------- banner mobile */
    main .banner {
        justify-content: center;
        background-position: left;
        padding: 3rem 0 0 0;
        height: 400px;
    }
    main div.banner h1{
        font-size: 2.2rem;
        font-weight: 400;
        text-align: center;
    }

    main div.banner h2, 
    main div.banner h4 {
        display: none;
    }

    
    button.get-styled {
        height: 1rem;
        padding: 1.5rem 3rem;
        border-radius: .5rem;
        display: flex;
        align-items: center;
    }

    button h3 {
        font-size: 1.1rem;
        font-family: 'Oxygen', sans-serif;
        font-weight: 500;
        color: white;
    }
    
    /*-------------- mission mobile */
    
    .mission {
        margin: 4rem 4rem;
        text-align: center;
    }
    
    p {
        font-family: 'Source Sans 3', sans-serif;
        font-size: 1.2rem;
        line-height: 2;
    }
    /*-------------- gallery mobile */
    div.gallery img {
    width: 100%;
    height: auto;
    }

    div.caption {
    padding: 0;
    text-align: center;
    } 
    
    .caption h3 {
        margin-top: .4rem;
    }

    .responsive {
        width: 100%;
    }
    /*-------------- footer mobile */
    footer {
        margin-top: 8rem;
        background-color: #7D5D6C;
        display: flex;
        justify-content: space-around;
        padding: 1rem 0;
    }
    footer p {
        font-size: 1rem;
        color: white;
        font-weight: 300;
    }
}

/* -----------------tablet */
@media only screen and (max-width:1090px) and (min-width: 600px) {
    /*-------------- header tablet */
    header{
        height: 5rem;
    }
    
    header ul {
        display: none;
    }

    header div.mobile {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
        
    }
    
    header div.mobile img{
        height: 2.7rem;
        width: auto;
        opacity: 50%;

    }
    /*-------------- main tablet*/
    /*-------------- banner tablet */
    main .banner {
        justify-content: center;
        background-position: center;
        padding: 0 3rem 0 20rem;
        
    }
    main div.banner h1{
        font-size: 2.5rem;
        font-weight: 400;
        text-align: center;
        flex-wrap: wrap;
    }
    .banner h2 {
        flex-wrap: wrap;
        font-size: 1.5rem;
        margin-top: 0;
        text-align: center;

    }
     .banner h4 {
        flex-wrap: wrap;
        margin-top: 5rem;
        font-size: 1.5rem;
        text-align: center;

    }

    button.get-styled {
        height: 1rem;
        padding: 1.5rem 3rem;
        border-radius: .5rem;
        display: flex;
        align-items: center;
    }

    button h3 {
        font-size: 1.1rem;
        font-family: 'Oxygen', sans-serif;
        font-weight: 500;
        color: white;
    }
    /*-------------- mission tablet */
        
    .mission {
        margin: 4rem 4rem;
        text-align: center;
    }

    .mission h2{
        font-family: 'Oxygen', sans-serif;
        font-size: 1.8rem;
        color: #595959;
    }

    p {
        font-family: 'Source Sans 3', sans-serif;
        font-size: 1.2rem;
        line-height: 2;
    }
    /*-------------- gallery tablet */
    div.row {
        display: flex;
    
    }
    div.gallery {
        margin: 0 .5rem;
    }
    
    div.gallery img {
        width: 100%;
        height: auto;
    }

    div.caption {
    padding: 0;
    text-align: center;
    } 
    
    .caption h3 {
        margin-top: .4rem;
    }
     /*-------------- footer tablet */
     footer {
        margin-top: 8rem;
        background-color: #7D5D6C;
        display: flex;
        justify-content: space-around;
        padding: 1rem 0;
    }
    footer p {
        font-size: 1rem;
        color: white;
        font-weight: 300;
    }
}

/* -----------------web */

@media only screen and (min-width: 1090px) {
    /*-------------- mission tablet */
            
    .mission {
        margin: 4rem 4rem;
        text-align: center;
    }

    .mission h2{
        font-family: 'Oxygen', sans-serif;
        font-size: 1.8rem;
        color: #595959;
    }

    p {
        font-family: 'Source Sans 3', sans-serif;
        font-size: 1.2rem;
        line-height: 2;
    }
    /*-------------- gallery web */
    div.row {
        display: flex;

    }
    div.gallery {
        margin: 0 .5rem;
    }

    div.gallery img {
        width: 100%;
        height: auto;
    }

    div.caption {
    padding: 0;
    text-align: center;
    } 

    .caption h3 {
        margin-top: .4rem;
    }

    /*-------------- footer web */
    footer {
        margin-top: 8rem;
        background-color: #7D5D6C;
        display: flex;
        justify-content: space-around;
        padding: 1rem 0;
    }
    footer p {
        font-size: 1rem;
        color: white;
        font-weight: 300;
    }
}ch